{
	"useTabs": true,
	"tabWidth": 2,
	"printWidth": 120,
	"semi": true,
	"singleQuote": false,
	"quoteProps": "as-needed",
	"trailingComma": "es5",
	"bracketSpacing": true,
	"arrowParens": "always",
	"endOfLine": "lf",
	"overrides": [
		{
			"files": ["*.json", "*.jsonc"],
			"options": {
				"useTabs": true,
				"tabWidth": 2
			}
		},
		{
			"files": ["*.md"],
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		}
	]
}
