/target
/log

/temp
.[Dd][Ss]_[Ss]tore

/config/*
.env
.dockerignore
/api/Dockerfile
/cli/Dockerfile
/runners/docker/Dockerfile
/runners/kubernetes/Dockerfile

/.devcontainer
/data

README.md
LICENSE
.vscode
CONTRIBUTING.md
CODE_OF_CONDUCT.md
SECURITY.md
ARCHITECTURE.md
.pnpm-store
.vscode
