.billing-card {
	height: 15rem;
}
.credit-plan-card {
	width: 25rem;
}
.pagination-card {
	width: 5rem;
}
.user-card {
	height: 34rem;
}
.billing-qty {
	width: 7rem;
}
.billing-price {
	width: 6rem;
}
