.progress-bar {
	width: 0.65rem;
}
.summary-card {
	min-height: 10rem;
}
.graph-view-card {
	min-height: 6rem;
}
.summary-line {
	width: 2px;
	&::after {
		content: "";
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: 5px;
		height: 5px;
		border-radius: 50%;
		background-color: map-get($background-colors, "primary");
	}
	&.source::after {
		bottom: auto;
		top: 0;
	}
	&.target::after {
		bottom: 0;
		top: auto;
	}
}
.pipeline-editor {
	& .toolbar {
		min-width: 25rem;
	}
	& .canvas {
		& button {
			background-color: map-get($background-colors, "primary");
			@include btn-secondary-focus("info");
		}
	}
}
.ci-repository-card {
	& button {
		display: none;
	}
	&:focus-within,
	&:hover {
		& button {
			display: block;
		}
	}
}
