.bg-home {
	top: 13.625rem;
	bottom: 1.25rem;
	left: 1.25rem;
	right: 1.25rem;
}
.box-card {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
	align-content: flex-start;
	.txt-primary {
		letter-spacing: 1px;
	}
	& > div {
		height: 11.5rem;
	}
}
