.box-onboard {
	width: 32rem;
	padding: 3.125rem;
	display: flex;
	flex-direction: column;
	background-color: map-get($background-colors, "secondary-dark");
	border-radius: map-get($border-radii, "sm");
	box-shadow: $shadow-medium;
	&.feedback-modal {
		padding: 2rem 2.5rem;
		& .image-preview {
			max-height: 12rem;
		}
	}
}
