@use "sass:map";
@use "../helpers/maps" as *;
@use "../base/variables" as *;

.tab-item {
  color: $text-grey;
  padding: map.get($paddings, "sm") 0;
  font-size: map.get($font-sizes, "sm");
  position: relative;
  cursor: pointer;

  &:hover {
    color: $text-white;
    transition: color 150ms;
  }

  &:focus-visible {
    color: $primary-main;
  }
}

.active-tab-item {
  color: $text-white;

  &::after {
    content: "";
    position: absolute;

    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 5px 5px 0 0;
    background-color: $primary-main;
  }
}
