@use "sass:color";
@use "sass:map";

@use "../helpers/maps" as *;
@use "../base/variables" as *;
@use "../helpers/mixins" as *;

@keyframes ripple {
  0% {
    box-shadow: 0 4px 10px transparentize(map.get($background-colors, "primary"), 0.8),
      0 0 0 0 transparentize(map.get($background-colors, "primary"), 0.8),
      0 0 0 5px transparentize(map.get($background-colors, "primary"), 0.8),
      0 0 0 10px transparentize(map.get($background-colors, "primary"), 0.8);
  }

  100% {
    box-shadow: 0 4px 10px transparentize(map.get($background-colors, "primary"), 0.8),
      0 0 0 5px transparentize(map.get($background-colors, "primary"), 0.8),
      0 0 0 10px transparentize(map.get($background-colors, "primary"), 0.8),
      0 0 0 20px transparentize(map.get($background-colors, "primary"), 1);
  }
}

.ripple {
  animation: ripple 1200ms linear infinite;
}

@keyframes drift-btn-rotate {
  to {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(-200%)
  }

  to {
    transform: translateX(0)
  }
}

@keyframes slide-out-left {
  from {
    transform: translateX(0)
  }

  to {
    transform: translateX(-200%)
  }
}