                                      {{> join-discord}}
                                    </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            {{> footer-icons}}
          </tbody>
        </table>
      </span>
    </div>
  </body>
</html>