<tr>
  <td class="icon-container" style="padding-top: 2rem;">
    <table class="mx-auto" style="margin-left: auto; margin-right: auto;">
      <tbody>
        <tr>
          <td class="icon" style="padding-left: 0.6rem; padding-right: 0.6rem;">
            <a href="https://www.linkedin.com/showcase/patr/">
              <img
                width="35"
                height="35"
                src="https://static-images.patr.cloud/email/v2/icons/linkedin.png"
                alt="linkedin"
              />
            </a>
          </td>
          <td class="icon" style="padding-left: 0.6rem; padding-right: 0.6rem;">
            <a href="https://www.instagram.com/patrcloud/">
              <img
                width="35"
                height="35"
                src="https://static-images.patr.cloud/email/v2/icons/instagram.png"
                alt="instagram"
              />
            </a>
          </td>
          <td class="icon" style="padding-left: 0.6rem; padding-right: 0.6rem;">
            <a href="https://twitter.com/patrcloud">
              <img
                width="35"
                height="35"
                src="https://static-images.patr.cloud/email/v2/icons/twitter.png"
                alt="twitter"
              />
            </a>
          </td>
          <td class="icon" style="padding-left: 0.6rem; padding-right: 0.6rem;">
            <a href="https://patr.cloud/discord">
              <img
                width="35"
                height="35"
                src="https://static-images.patr.cloud/email/v2/icons/discord.png"
                alt="discord"
              />
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr>
  <td class="pb-lg" style="padding-bottom: 3rem;"></td>
</tr>