<tr>
  <td>
    <img
      class="img-header"
      src="https://static-images.patr.cloud/email/images/header.png"
      alt="Patr Header"
      style="border-top-left-radius: 1.3rem; border-top-right-radius: 1.3rem; width: 100%;"
    />
  </td>
</tr>