<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office"
	xmlns:v="urn:schemas-microsoft-com:vml">

<head>
	<!--[if gte mso 9]><xml><o:OfficeDocumentSettings><o:AllowPNG/><o:PixelsPerInch>96</o:PixelsPerInch></o:OfficeDocumentSettings></xml><![endif]-->
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<meta content="width=device-width" name="viewport" />
	<!--[if !mso]><!-->
	<meta content="IE=edge" http-equiv="X-UA-Compatible" />
	<!--<![endif]-->
	<title></title>
	<!--[if !mso]><!-->
	<!--<![endif]-->
	<style type="text/css">
		body {
			margin: 0;
			padding: 0;
		}

		table,
		td,
		tr {
			vertical-align: top;
			border-collapse: collapse;
		}

		* {
			line-height: inherit;
		}

		a[x-apple-data-detectors=true] {
			color: inherit !important;
			text-decoration: none !important;
		}
	</style>
	<style id="media-query" type="text/css">
		@media (max-width: 660px) {

			.block-grid,
			.col {
				min-width: 320px !important;
				max-width: 100% !important;
				display: block !important;
			}

			.block-grid {
				width: 100% !important;
			}

			.col {
				width: 100% !important;
			}

			.col_cont {
				margin: 0 auto;
			}

			img.fullwidth,
			img.fullwidthOnMobile {
				max-width: 100% !important;
			}

			.no-stack .col {
				min-width: 0 !important;
				display: table-cell !important;
			}

			.no-stack.two-up .col {
				width: 50% !important;
			}

			.no-stack .col.num2 {
				width: 16.6% !important;
			}

			.no-stack .col.num3 {
				width: 25% !important;
			}

			.no-stack .col.num4 {
				width: 33% !important;
			}

			.no-stack .col.num5 {
				width: 41.6% !important;
			}

			.no-stack .col.num6 {
				width: 50% !important;
			}

			.no-stack .col.num7 {
				width: 58.3% !important;
			}

			.no-stack .col.num8 {
				width: 66.6% !important;
			}

			.no-stack .col.num9 {
				width: 75% !important;
			}

			.no-stack .col.num10 {
				width: 83.3% !important;
			}

			.video-block {
				max-width: none !important;
			}

			.mobile_hide {
				min-height: 0px;
				max-height: 0px;
				max-width: 0px;
				display: none;
				overflow: hidden;
				font-size: 0px;
			}

			.desktop_hide {
				display: block !important;
				max-height: none !important;
			}
		}
	</style>
	<style id="icon-media-query" type="text/css">
		@media (max-width: 660px) {
			.icons-inner {
				text-align: center;
			}

			.icons-inner td {
				margin: 0 auto;
			}
		}
	</style>
</head>

<body class="clean-body" style="margin: 0; padding: 0; -webkit-text-size-adjust: 100%; background-color: #000000;">
	 <div class="column j_start a_center full_height full_width root">

    <div class="column j_start a_center full_height full_width main">
        <svg class="logo" width="366" height="53" viewBox="0 0 366 53" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M11.8828 13.7301V22.1997H75.4053C76.5499 22.1997 77.5418 21.8182 78.3812 21.0552C79.2968 20.2159 79.7546 19.1858 79.7546 17.9649C79.7546 16.8204 79.2968 15.8284 78.3812 14.9891C77.5418 14.1497 76.5499 13.7301 75.4053 13.7301H11.8828ZM74.9475 2.7424C77.084 2.7424 79.0679 3.16207 80.8992 4.0014C82.8068 4.76444 84.4473 5.83268 85.8207 7.20614C87.2705 8.5796 88.3769 10.182 89.1399 12.0133C89.9793 13.8445 90.3989 15.8284 90.3989 17.9649C90.3989 20.1014 89.9793 22.0853 89.1399 23.9166C88.3769 25.7479 87.2705 27.3502 85.8207 28.7237C84.4473 30.0971 82.8068 31.2035 80.8992 32.0429C79.0679 32.8059 77.084 33.1874 74.9475 33.1874H11.8828V47.1509C11.8828 48.677 11.3105 49.9742 10.166 51.0424C9.09772 52.1107 7.83872 52.6448 6.38895 52.6448C4.86289 52.6448 3.56573 52.1107 2.49748 51.0424C1.42924 49.9742 0.895114 48.677 0.895114 47.1509V8.23624C0.895114 6.71017 1.42924 5.41301 2.49748 4.34477C3.56573 3.27652 4.86289 2.7424 6.38895 2.7424H74.9475ZM105.854 50.5846C104.709 51.9581 103.298 52.6448 101.619 52.6448C100.093 52.6448 98.7959 52.1107 97.7276 51.0424C96.6594 49.9742 96.1253 48.677 96.1253 47.1509C96.1253 45.7775 96.5068 44.6711 97.2698 43.8317L125.082 6.40496C126.38 4.64998 128.096 3.23837 130.233 2.17013C132.369 1.02557 134.658 0.453295 137.1 0.453295C139.389 0.453295 141.564 0.949267 143.624 1.94121C145.684 2.93316 147.363 4.30662 148.66 6.06159L176.473 43.2595C176.931 43.7936 177.312 44.404 177.617 45.0908C177.922 45.7012 178.075 46.3879 178.075 47.1509C178.075 48.677 177.541 49.9742 176.473 51.0424C175.404 52.1107 174.107 52.6448 172.581 52.6448C170.75 52.6448 169.3 51.9199 168.232 50.4701L141.564 14.8746C141.03 14.2642 140.343 13.6156 139.504 12.9289C138.741 12.1659 137.939 11.7843 137.1 11.7843C136.261 11.7843 135.421 12.1659 134.582 12.9289C133.819 13.6156 133.209 14.2642 132.751 14.8746L105.854 50.5846ZM259.499 2.7424C261.025 2.7424 262.322 3.27652 263.391 4.34477C264.459 5.41301 264.993 6.71017 264.993 8.23624C264.993 9.76231 264.459 11.0595 263.391 12.1277C262.322 13.196 261.025 13.7301 259.499 13.7301H225.62V47.1509C225.62 48.677 225.086 49.9742 224.018 51.0424C222.95 52.1107 221.653 52.6448 220.127 52.6448C218.6 52.6448 217.303 52.1107 216.235 51.0424C215.167 49.9742 214.633 48.677 214.633 47.1509V13.7301H180.296C178.923 13.5775 177.74 13.0052 176.748 12.0133C175.756 10.945 175.26 9.686 175.26 8.23624C175.26 6.71017 175.794 5.41301 176.863 4.34477C177.931 3.27652 179.228 2.7424 180.754 2.7424H259.499ZM350.009 33.1874C352.069 34.4846 354.167 35.8962 356.304 37.4223C358.44 38.872 360.615 40.4744 362.828 42.2294C363.667 42.8398 364.392 43.5647 365.002 44.404C365.613 45.1671 365.918 46.0827 365.918 47.1509C365.918 48.677 365.384 49.9742 364.316 51.0424C363.247 52.1107 361.95 52.6448 360.424 52.6448C359.127 52.6448 357.83 52.1107 356.533 51.0424C353.404 48.7533 350.2 46.5405 346.919 44.404C343.637 42.2675 340.204 40.3599 336.618 38.6813C333.108 37.0026 329.445 35.6673 325.63 34.6753C321.815 33.6834 317.847 33.1874 313.727 33.1874H290.95C289.958 33.34 289.119 33.7979 288.432 34.5609C287.745 35.3239 287.402 36.2777 287.402 37.4223V47.1509C287.402 48.677 286.83 49.9742 285.685 51.0424C284.617 52.1107 283.358 52.6448 281.908 52.6448C280.382 52.6448 279.085 52.1107 278.017 51.0424C276.948 49.9742 276.414 48.677 276.414 47.1509V36.1633C276.414 34.2557 276.758 32.4625 277.444 30.7839C278.207 29.0289 279.199 27.541 280.42 26.3201C281.641 25.023 283.091 24.031 284.769 23.3443C286.448 22.5813 288.279 22.1997 290.263 22.1997H350.924C352.069 22.1997 353.061 21.8182 353.9 21.0552C354.816 20.2159 355.274 19.1858 355.274 17.9649C355.274 16.8204 354.816 15.8284 353.9 14.9891C353.061 14.1497 352.069 13.7301 350.924 13.7301H281.908C280.382 13.7301 279.085 13.196 278.017 12.1277C276.948 11.0595 276.414 9.76231 276.414 8.23624C276.414 6.71017 276.948 5.41301 278.017 4.34477C279.085 3.27652 280.382 2.7424 281.908 2.7424H350.467C352.603 2.7424 354.587 3.16207 356.418 4.0014C358.326 4.76444 359.966 5.83268 361.34 7.20614C362.79 8.5796 363.896 10.182 364.659 12.0133C365.498 13.8445 365.918 15.8284 365.918 17.9649C365.918 20.1014 365.498 22.0853 364.659 23.9166C363.896 25.7479 362.79 27.3502 361.34 28.7237C359.966 30.0971 358.326 31.2035 356.418 32.0429C354.587 32.8059 352.603 33.1874 350.467 33.1874H350.009Z"
                fill="#0D0526" />
        </svg>
        <div class="column j_start a_start fit_height fit_width data_cont">
            <p>
				Hello there,
			</p>
            <p>
				Your Patr account password has been changed.
            </p>
            <p>
				If you did not attempt to change your password, please contact support immediately at support@patr.cloud
        	</p>
        </div>
    </div>
    </div>
</body>

</html>