<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Patr Email</title>
  </head>
  <body style="margin:0;padding:0;background-color:#0d0526;">
    <center style="width:100%;table-layout:fixed;background-color:#0d0526;">
      <span style="max-width:600px;color:#ffffff">
        <table
          style="margin:0 auto;width:100%;max-width:600px;border-spacing:0;font-family:sans-serif;background-color:#0d0526"
          align="center"
        >
          <tr>
            <td>
              <a
                href="https://patr.cloud"
                target="_blank"
                title="Log on to Patr"
              >
                <img
                  width="100%"
                  src="https://262a454d609849758bd4dd7dd7a24fcc.patr.cloud/header.png"
                  alt="header"
                />
              </a>
            </td>
          </tr>
          <tr>
            <td style="padding:10px 20px;color:#ffa500;font-size:18px;">
              Hello
              {{username}},
            </td>
          </tr>
          <tr>
            <td style="padding:0 20px;color:#ffffff">
              This email is a response to your Password Reset request for your
              Patr account. Please enter the following OTP to reset your
              password:
            </td>
          </tr>
          <tr>
            <td align="center" style="padding:10px 20px;font-size:28px;">
              <strong style="color:#ffffff">{{otp}}</strong>
            </td>
          </tr>
          <tr>
            <td align="center" style="padding:0 20px 20px 20px;">
              <table
                style="text-decoration:none;color:#0d0526;background-color:#ffa500;padding:8px 15px;border-radius:16px"
              >
                <tr>
                  <td><a
                      title="Enter OTP on Patr WebApp automatically"
                      style="text-decoration:none;color:#0d0526;font-weight:500"
                      href="https://app.patr.cloud/forgot-password?resetPasswordOtp={{otp}}"
                      target="_blank"
                    >ENTER OTP ON PATR</a></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td style="padding:0 20px;color:#ffffff">
              If you did not initiate this request, kindly delete this email &
              contact support immediately at
              <a
                title="Mail to Patr support"
                href="mailto:support@patr.cloud"
                target="_blank"
              >support@patr.cloud</a>
              immediately.
            </td>
          </tr>
          <tr>
            <td style="padding:10px 20px;color:#ffffff">
              Join our
              <a
                title="Join Patr Discord"
                href="https://discord.com/invite/ZZqDTdGDZ3"
                target="_blank"
              >Discord Community</a>
              for the latest updates and chat with us here for instant technical
              support.
            </td>
          </tr>
          <tr>
            <td align="center" style="padding: 10px 20px;">
              <table>
                <tr>
                  <td style="padding: 0 5px;">
                    <a
                      href="https://www.linkedin.com/showcase/patr/"
                      target="_blank"
                    ><img
                        width="26"
                        src="https://262a454d609849758bd4dd7dd7a24fcc.patr.cloud/linkedin.png"
                        alt="linked in"
                      /></a>
                  </td>
                  <td style="padding: 0 5px;">
                    <a href="https://twitter.com/patrcloud" target="_blank"><img
                        width="26"
                        src="https://262a454d609849758bd4dd7dd7a24fcc.patr.cloud/twitter.png"
                        alt="twitter"
                      /></a></td>
                  <td style="padding: 0 5px;">
                    <a
                      href="https://www.instagram.com/patrcloud/"
                      target="_blank"
                    ><img
                        width="26"
                        src="https://262a454d609849758bd4dd7dd7a24fcc.patr.cloud/instagram.png"
                        alt="instagram"
                      /></a>
                  </td>
                  <td style="padding: 0 5px;">
                    <a href="mailto:hello@patr.cloud" target="_blank"><img
                        width="26"
                        src="https://262a454d609849758bd4dd7dd7a24fcc.patr.cloud/mail.png"
                        alt="mail"
                      /></a>
                  </td>
                  <td style="padding: 0 5px;">
                    <a
                      href="https://medium.com/patr-deployment-community"
                      target="_blank"
                    ><img
                        width="26"
                        src="https://262a454d609849758bd4dd7dd7a24fcc.patr.cloud/medium.png"
                        alt="medium"
                      /></a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <a href="https://patr.cloud" title="Head on to Patr"><img
                  width="100%"
                  src="https://262a454d609849758bd4dd7dd7a24fcc.patr.cloud/footer.png"
                  alt="footer"
                /></a>
            </td>
          </tr>
        </table>
      </span>
    </center>
  </body>
</html>