
Hello there,

An Event has taken place in your deployment:
    workspace: {{workspace_name}}
    deployment: {{deployment_name}}
    message: {{message}}

    to check out the logs for the deployment <a href="https://app.patr.cloud/deployment/{{deployment_id}}"> click here </a>

If you did not initiate this process, please contact support at support@patr.cloud immediately.