@import "tailwindcss";

@theme {
    /* colors */

    --color-primary: #f89b41;
    --color-primary-light: #f89b4180;
    --color-primary-dark: #f89b41;

    --color-secondary-dark: #191131;
    --color-secondary: #0d0526;
    --color-secondary-medium: #2e2450;
    --color-secondary-light: #23203e;

    --color-error: #d62b36;
    --color-error-light: #d62b3680;
    --color-warning: #fdd13a;
    --color-warning-light: #fdd13a80;
    --color-success: #47c96c;
    --color-success-light: #47c96c80;
    --color-info: #007bff;
    --color-info-light: #007bff80;


    --color-white: #ffffff;
    --color-black: #000000;
    --color-grey: #ffffffac;
    --color-disabled: #ffffff60;

    --color-txt-code-snippet: #a5c5ff;
    --color-bg-code-snippet: #78a7ff1a;

    --color-border-color: #414245;

    --color-tooltip-color: #333333;

    /* Fonts */
    --font-primary: "Poppins", "Roboto", "Helvetica", "Arial", "sans-serif";
    --font-log: "Source Code Pro", "monospace";

    /* Font Weights */
    --font-weight-xxs: 10px;
    --font-weight-xs: 12px;
    --font-weight-sm: 13px;
    --font-weight-md: 16px;
    --font-weight-lg: 18px;
    --font-weight-xl: 24px;
    --font-weight-xxl: 33px;

    /* Box Shadows */
    --shadow-high: 4px 4px 10px #000000f0;
    --shadow-medium: 4px 4px 10px #00000080;
    --shadow-light: 5px 0px 10px #00000040;

    /* Border Radius */
    --radius-sm: 10px;
    --radius-DEFAULT: 14px;
    --radius-md: 14px;
    --radius-lg: 18px;
    --radius-xl: 20px;

    /* Spacing */
    --spacing-xxs: 6px;
    --spacing-xs: 8px;
    --spacing-sm: 11px;
    --spacing-md: 16px;
    --spacing-lg: 20px;
    --spacing-xl: 24px;
    --spacing-xxl: 33px;
    --spacing-auto: auto;

    /* Flex Utils */
    --flex-1: 0 1 8.3333%;
    --flex-2: 0 1 16.6666%;
    --flex-3: 0 1 25%;
    --flex-4: 0 1 33.3333%;
    --flex-5: 0 1 41.6666%;
    --flex-6: 0 1 50%;
    --flex-7: 0 1 58.3333%;
    --flex-8: 0 1 66.6666%;
    --flex-9: 0 1 75%;
    --flex-10: 0 1 83.333%;
    --flex-11: 0 1 91.6666%;
    --flex-12: 0 1 100%;
}