@use "../base/variables" as *;

.bg-page-container {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: -1;
  position: fixed;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-page {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.bg-backdrop {
  z-index: 50;
  background-color: #00000080;
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  &.backdrop-medium {
    backdrop-filter: blur(6px);
  }
  &.backdrop-light {
    backdrop-filter: blur(3px);
  }
}

.bg-empty {
  background-image: url($empty);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

// .box-full-main {
//   position: absolute;
//   top: 5.125rem;
//   right: 1rem;
//   left: 1rem;
//   bottom: 1rem;
// }

// .bg-billing-card {
//   min-width: 100%;
//   background-image: $billing-card-border-gradient;
//   padding: 1px;
//   & > div {
//     background: $billing-card-bg-gradient;
//   }
//   & .card-number {
//     font-family: Arial, Helvetica, sans-serif;
//   }
// }

// .bg-main {
//   background-image: $image-overlay-medium, url($main-bg);
// }

.bg-backdrop-blur-effect {
  z-index: 50;
  background-color: #00000080;
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);

  &.backdrop-medium {
    backdrop-filter: blur(6px);
  }

  &.backdrop-light {
    backdrop-filter: blur(3px);
  }
}

.bg-onboard {
  background-image: $image-overlay-dark, url($onboard);
}
