.grid-container {
	display: grid;
	align-content: flex-start;
	justify-content: flex-start;
}

.fit-wide-screen {
	max-width: 75rem;
}

.shortcut-container {
	display: grid;
	align-content: center;
	width: 90vw;
	height: 90vh;
	grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
	& > * {
		height: 5rem;
	}
}
