.Toastify__toast {
	border-radius: map-get($border-radii, "sm") !important;
	color: map-get($text-colors, "white") !important;
}
.Toastify__toast--warning {
	background: $warning-main !important;
	color: map-get($text-colors, "black") !important;
}
.Toastify__toast--error {
	background: $error-main !important;
}
.Toastify__toast--info {
	background: $info-main !important;
}
.Toastify__toast--success {
	background: $success-main !important;
}
