.enable-border {
	border-top: 1px solid $border-color;
	border-left: 1px solid $border-color;
	border-right: 1px solid $border-color;
	&.enable-border-bottom {
		border-bottom: 1px solid $border-color;
	}
}
