@use "sass:map";
@use "sass:color";

@use "./transitions" as *;
@use "../helpers/maps" as *;
@use "../helpers/mixins" as *;
@use "../base/variables" as *;

.icon {
  width: map.get($icon-sizes, "sm");
  height: map.get($icon-sizes, "sm");

  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;

  fill: none;
}

@each $size, $value in $icon-sizes {
  .icon-#{$size} {
    @include create-size($value);
  }
}

.bg-gradient {
  background-image: $gradient-top-to-bottom;
  border-bottom: 1px solid
    color.adjust($primary-main, $alpha: -0.6);
  border-left: 1px solid
    color.adjust($primary-main, $alpha: -0.6);
}

.li-diamond {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  padding-left: map.get($paddings, "lg");

  &::before {
    content: "";

    position: absolute;

    left: 0;
    width: 0.5rem;
    height: 0.5rem;

    transform: rotate(45deg);
    background-color: $primary-main;
  }
}

.code-snippet {
  color: $txt-code-snippet;
  padding: 2px 5px;
  border-radius: 5px;
  background-color: $bg-code-snippet;
}

.focus-within-primary {
  &:focus-within {
    outline: 2px solid $primary-main;
  }
}
