.sidebar-item {
	& .btn {
		border-radius: 0;
		position: relative;
		padding-left: 2.5rem;
		color: map-get($text-colors, "grey");
		justify-content: flex-start;
	}
	.inner-nav-item {
		transition: 250ms;
		& .btn {
			padding-left: 4rem;
			border-bottom: 1px solid $border-color;
		}
	}
	.active-nav-item,
	.active-item,
	& .btn:hover,
	& .btn:focus {
		background-color: map-get($background-colors, "secondary-light");
		color: map-get($text-colors, "white");
		outline: none;
	}
	.active-nav-item::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 0.5rem;
		border-radius: 0 3px 3px 0;
		background-color: map-get($background-colors, "primary");
	}
}
